Create a lambda function that takes two arguments and returns their sum.
Create another lambda function that takes a single argument and returns its square.
Use the lambda functions to calculate the sum and square of various numbers and print the results.
Define a list of integers.
Use the filter function to create a new list that contains only the even numbers from the original list.
Use the filter function again to create a new list that contains only numbers greater than 10 from the original list.
Print both filtered lists.
Define a list of strings where each string represents a number (e.g., ["1", "2", "3"]).
Use the map function to convert each string to an integer and store the result in a new list.
Use the map function again to square each integer in the new list and store the result in another new list.
Print both new lists.
Create a list of dictionaries, where each dictionary represents a person with keys "name" and "age". Example: [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}, ...]
Use the filter function to create a new list that contains only the people who are older than 25.
Use the map function to create a new list that contains the names of the filtered people.
Print the list of names.
Create a program that reads a list of numbers from the user (you can use the input function for this).
Use map and filter functions to perform the following operations:
Square each number.
Filter out numbers that are not divisible by 3.
Print the result.

In [ ]:

data=[1,3,3.4,5.2,"swathi","akhil" ]
def flo(n):
    if type(n)==float:
        return n
list(filter(flo,data))
[3.4, 5.2]

data=[2,3,4.6,7.8,"swathi","akhila"]
def jyo(n):
    if type(n)==str:
        return n
list(filter(jyo,data))    
['swathi', 'akhila']

data=[2,4,6.7,4.6,"jyoshns","swathi"]
def jyo(n):
    if type(n)==int:
        return "integer"
    elif type(n)==float:
            return "float"
    else:
         return "string"
list(map(jyo,data))
    
['integer', 'integer', 'float', 'float', 'string', 'string']

In [ ]:
1.Create a lambda function that takes two arguments and returns their sum.

In [8]:
c = lambda *n: sum(n)

In [9]:
c(5,6)

11

In [ ]:
Create another lambda function that takes a single argument and returns its square.

In [18]:
c = lambda n: n**2

In [19]:
c(5)

25

In [ ]:
Use the lambda functions to calculate the sum and square of various numbers and print the results

In [42]:
val = lambda n: n**2
val = lambda n: sum(n)

In [3]:
print(9)
print(2,3,4)

9
2 3 4

In [ ]:
2.Define a list of integers.
 - Use the `filter` function to create a new list that contains only the even numbers from the original list.
 - Use the `filter` function again to create a new list that contains only numbers greater than 10 from the original list.
 - Print both filtered list

In [11]:
listInt = [33,34,23,12,34,32,2,15,17,8,12,34,5,1,3]

In [12]:
def even(n):
    if n%2==0:
        return n

In [14]:
c =list(filter(even,listInt))
c

[34, 12, 34, 32, 2, 8, 12, 34]

In [16]:
def gr10(n):
    if n>10:
        return n

In [17]:
great =list(filter(gr10,listInt))
great

[33, 34, 23, 12, 34, 32, 15, 17, 12, 34]

In [18]:
print(c)
print(great)

[34, 12, 34, 32, 2, 8, 12, 34]
[33, 34, 23, 12, 34, 32, 15, 17, 12, 34]

In [ ]:
3. - Define a list of strings where each string represents a number (e.g., `["1", "2", "3"]`).
   - Use the `map` function to convert each string to an integer and store the result in a new list.
   - Use the `map` function again to square each integer in the new list and store the result in another new list.
   - Print both new lists

In [10]:
liststring=["1","2","3","4","5","6","7","8"]

In [11]:
def string(n):
    if liststring[0] == int(n):
        return n

In [12]:
newlists = list(map(int,liststring))

In [13]:
newlists

[1, 2, 3, 4, 5, 6, 7, 8]

In [14]:
def square(n):
    if n > 0:
        return n*n
    else:
        pass

In [15]:
squarelist = list(map(square,newlists))
print("square of a each number from the list" ,squarelist)

square of a each number from the list [1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
4. - Create a list of dictionaries, where each dictionary represents a person with keys "name" and "age". Example: ` [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}, ...]`
   - Use the `filter` function to create a new list that contains only the people who are older than 25.
   - Use the `map` function to create a new list that contains the names of the filtered people.
   - Print the list of names.

In [27]:
info =  [{"name": "jyoshna", "age": 24}, {"name": "akhila", "age": 35}, {"name": "pandu", "age": 30} ]

In [28]:
def older(n):
    if n["age"] >= 25:
        return n

In [29]:
olderlist = list(filter(older,info))
olderlist

[{'name': 'akhila', 'age': 35}, {'name': 'pandu', 'age': 30}]

In [30]:
def name1(n):
    return {"name" : n["name"]}

In [31]:
filteredlist = list(map(name1,olderlist))
filteredlist

[{'name': 'akhila'}, {'name': 'pandu'}]

In [ ]:
 5. - Create a program that reads a list of numbers from the user (you can use the `input` function for this).
    - Use `map` and `filter` functions to perform the following operations:
     - Square each number.
     - Filter out numbers that are not divisible by 3.
     - Print the result.

In [38]:
n = int(input("enter the number of integers u want : "))
list(map(lambda n: n**2,range(1,n)))

enter the number of integers u want : 5

[1, 4, 9, 16]

In [40]:
n = int(input("enter the number of integers u want : "))
list1 = []
for i in range(1,n):
    list1.append(i)

enter the number of integers u want : 10

In [41]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
def num(n):
    if n % 3 !=0:
        return n
list(filter(num,list1))

[1, 2, 4, 5, 7, 8]